<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
<form method="POST" action = "/music">
  <p> Music: <input type="text" name= "music"
  ></p>
  <p> Songs: <input type= "text" name="songs"></p>
  <input type="submit">
</form>
  </body>
</html>
